<h2><%= @location.name %></h2>

<div><img src="<%= @location.picture_url %>"></img></div>

<h4>Review:</h4><%= @location.review %>

<h4><%= link_to "Edit", edit_location_path(@location) %></h4>
<h4><%= link_to "Home", root_path %></h4>